In [36]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [38]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [40]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [42]:
tesla = yf.Ticker('TSLA')
tesla_data = tesla.history(period = 'max')
tesla_data.reset_index(inplace=True)

In [14]:
import requests
from bs4 import BeautifulSoup as bs
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm'
html_data = requests.get(url)

In [16]:
soup = bs(html_data.content, 'html.parser')

In [20]:
import pandas as pd 
tesla_revenue = pd.DataFrame(columns = ['Date','Revenue'])
for table in soup.find_all('table'):
    
    if ("Tesla Quarterly Revenue" in table.find("th")):
        
       
        for data in table.find_all("tbody"):
         
            for row in data.find_all('tr'):
               
                col = row.find_all('td')
               
                if col != []:
                    
                    date = col[0]
                    revenue = col[1].text.replace(',', '').replace('$', '')
                    tesla_revenue = pd.concat([tesla_revenue, pd.DataFrame({'Date': [date], 'Revenue': [revenue]})], ignore_index=True)

In [26]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [24]:
tesla_revenue.tail()

            Date Revenue
48  [2010-09-30]      31
49  [2010-06-30]      28
50  [2010-03-31]      21
52  [2009-09-30]      46
53  [2009-06-30]      27

In [28]:
import requests
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html'
html_data_2 = requests.get(url)

In [46]:
gme = yf.Ticker('GME')
gme_data = gme.history(period = 'max')
gme_data.reset_index(inplace= True)

In [30]:
soup1 = bs(html_data_2.content, 'html.parser')

In [32]:

gme_revenue = pd.DataFrame(columns = ['Date','Revenue'])
for table in soup1.find_all('table'):
    
    if ("GameStop Quarterly Revenue" in table.find("th")):
        
        
        for data in table.find_all("tbody"):
         
            for row in data.find_all('tr'):
               
                col = row.find_all('td')
               
                if col != []:
                    
                    date = col[0]
                    revenue = col[1].text.replace("$",'').replace(',','')
                    gme_revenue = pd.concat([gme_revenue, pd.DataFrame({'Date': [date], 'Revenue': [revenue]})], ignore_index=True)

In [34]:
gme_revenue.tail()

            Date Revenue
57  [2006-01-31]    1667
58  [2005-10-31]     534
59  [2005-07-31]     416
60  [2005-04-30]     475
61  [2005-01-31]     709

In [48]:
make_graph(tesla_data,tesla_revenue,'Tesla')

TypeError: '<=' not supported between instances of 'Tag' and 'str'